workflows/pedido-aprovacao.asl.json
{
  "Comment": "Workflow simples de aprovação de pedido usando AWS Step Functions",
  "StartAt": "ReceberPedido",
  "States": {
    "ReceberPedido": {
      "Type": "Pass",
      "Next": "ValidarValor"
    },
    "ValidarValor": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.valor",
              "IsPresent": true
            },
            {
              "Variable": "$.valor",
              "NumericLessThanEquals": 500
            }
          ],
          "Next": "AprovarPedido"
        },
        {
          "And": [
            {
              "Variable": "$.valor",
              "IsPresent": true
            },
            {
              "Variable": "$.valor",
              "NumericGreaterThan": 500
            }
          ],
          "Next": "EnviarParaAnalise"
        }
      ],
      "Default": "FalhaValidacao"
    },
    "AprovarPedido": {
      "Type": "Succeed"
    },
    "EnviarParaAnalise": {
      "Type": "Pass",
      "Next": "FinalizarAnalise"
    },
    "FinalizarAnalise": {
      "Type": "Succeed"
    },
    "FalhaValidacao": {
      "Type": "Fail",
      "Error": "ValorInvalido",
      "Cause": "O valor do pedido não foi informado ou não pôde ser validado."
    }
  }
}
